body {
  background-color: #051B39;
}

hr {
  border: 1px solid #2A4770;
}

h1 {
  color: #7087A6;
}

p {
  color: #7087A6;
}

.heading {
  text-align: center;
}

.btn-link {
  background-color: #48648A;
  border-radius: 5px;
  color: #051B39;
}

.btn-link:hover {
  text-decoration: none;
  background-color: #142F55;
  color: #7087A6;
}
